@page "/DeleteUser/{Iduser}"
@using Magazyn.Data
@using Syncfusion.Blazor.Inputs
@using Magazyn.Models
@inject UserService objEmpService
@inject NavigationManager NavigationMenager


<h2>Usuń rekord</h2>
<hr />
<h3>Czy chcesz usunąć rekord ?</h3>


<form>
    <div class=" row">
        <div class=" col-md-8">
            @*szerokośc formularza*@
            <div class="col-xs-10 col-sm-10 col-lg-10 col-md-10">
                <label> ID:</label>
                <label>@objEmp.Iduser</label>
            </div>
                <div class="col-xs-10 col-sm-10 col-lg-10 col-md-10">
                    <SfTextBox Placeholder="Imię" FloatLabelType="@FloatLabelType.Always" @bind-Value="@objEmp.Imie"></SfTextBox>
                </div>
                <div class="col-xs-10 col-sm-10 col-lg-10 col-md-10">
                    <SfTextBox Placeholder="Nazwisko" FloatLabelType="@FloatLabelType.Always" @bind-Value="@objEmp.Nazwisko"></SfTextBox>
                </div>
                <div class="col-xs-10 col-sm-10 col-lg-10 col-md-10">
                    <SfTextBox Placeholder="Nr ewid." FloatLabelType="@FloatLabelType.Always" @bind-Value="@objEmp.Ean_User"></SfTextBox>
                </div>
            </div>
        </div>
 
</form>
<br />

<div class=" row">
    <div class=" col-xs-10 col-sm-10 col-lg-10 col-md-10">
        <div class=" form-group">
            <input type="button" class=" btn btn-info" @onclick="@DeletteEmployee" value="Usuń" />
            <input type="button" class=" btn btn-secondary" @onclick="@Cancel" value=" Anuluj" />

        </div>
    </div>

</div>





@code {
    [Parameter]
    public string Iduser { get; set; }
    Tbuser objEmp = new Tbuser();

    protected override async Task OnInitializedAsync()
    {
        objEmp = await Task.Run(() => objEmpService.GetEmployeeById(Convert.ToInt32(Iduser)));
    }


    protected void DeletteEmployee()
    {
        objEmpService.DeleteEmpInfo(objEmp);
        NavigationMenager.NavigateTo("User");
    }
    void Cancel()
    {
        NavigationMenager.NavigateTo("User");
    }

}

